<h1>create movie</h1>

<% let url='/movies/create' %>

<form action="<%-url %>" method="post" class="d-flex flex-column">

    <input type="text" name="title" class="form-control" placeholder="title">
    <input type="text" name="genre" class="form-control" placeholder="the genre">
    <textarea  name="plot"  class="form-control" placeholder="plot"></textarea>
    

    <select name="cast" class="form-control" multiple>
        <% allCelebrities.forEach(celebrity => { %> 
            <option value="<%- celebrity.name %>"><%- celebrity.name %></option>
        <% }) %>

     
      </select>
      <input type="text" class="form-control" name="picture"   placeholder="picture" >
    <button type="submit" class="btn btn-primary">Create</button>
  
  
  
  </form>